ion-content {
  //background-color: #B7DBFF;
  --ion-background-color:rgba(125, 190, 255, 1);
}
.splash {
    text-align: center;
    padding-top: 90px;
    color: #fff;
    //background: #B7DBFF;
    //margin: auto 0;
}
.mothers-dining-image {
    width: 212px;
    height: 314px;
}