<ion-menu contentId="main-content">
  <ion-content class="ion-padding">
    <div style="text-align: center;">
      <ion-avatar style="margin: auto;">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <h1>Amar Anthony</h1>
      <p>+91 123456789</p>
      <ion-list lines="none">
        <ion-item>
          <button slot="start">
            <ion-icon name="cart" class="ion-margin-end"></ion-icon>
            Go To Cart
          </button>
        </ion-item>
        <ion-item>
          <button slot="start">
            <ion-icon name="cart" class="ion-margin-end"></ion-icon>
            Thali Menu
          </button>
        </ion-item>
        <ion-item>
          <button slot="start">
            <ion-icon name="cart" class="ion-margin-end"></ion-icon>
            Course Menu
          </button>
        </ion-item>
        <ion-item>
          <button slot="start">
            <ion-icon name="timer-outline" class="ion-margin-end"></ion-icon>
            Order History
          </button>
        </ion-item>
        <ion-item>
          <button slot="start">
            <ion-icon name="settings-outline" class="ion-margin-end"></ion-icon>
            Settings
          </button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Mother’s Dining</ion-title>
      <ion-avatar slot="end">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-slides pager="true" *ngFor="let item of cart" class="ion-padding">
      <ion-slide>
         <img [src]="item.image"/>
      </ion-slide>
    </ion-slides>
    <h1 class="ion-padding-horizontal"><b>Veg</b></h1>
    <ion-card>
      <ion-card-content class="ion-no-padding">
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/images/punjabi-thali.jpg" />
          </ion-thumbnail>
          <ion-label>
            <h1><b>Punjabi Thali</b></h1>
            <p class="text">Paneer Masala,  Dal Tadaka, Navratna Pulao, Bhindi Fry, Butter Nan 
            </p>
            <ion-item class="ion-no-padding">
              Rs. 180/-
              <ion-badge class="ion-margin-horizontal">4.2 (500+)</ion-badge>
            </ion-item>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content class="ion-no-padding">
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/images/rajasthani-thali.jpg" />
          </ion-thumbnail>
          <ion-label>
            <h1><b>Rajasthani Thali</b></h1>
            <p class="text">Gatte ki Subji,  Panchmela Dal, Mung Dal Halwa, Dal Bati Churma, Jira Rice
            </p>
            <ion-item class="ion-no-padding">
              Rs. 175/-<ion-badge class="ion-margin-horizontal">4.4 (800+)</ion-badge>
            </ion-item>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <h1 class="ion-padding-horizontal"><b>Non-Veg</b></h1>
    <ion-card>
      <ion-card-content class="ion-no-padding">
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/images/chiken-thali.jpg" />
          </ion-thumbnail>
          <ion-label>
            <h1><b>Chiken Thali</b></h1>
            <p class="text">Chicken Masala, Tambada Rasaa, Pandhara Rasaa, Chapati, Solkadhi, Plain Rice
            </p>
            <ion-item class="ion-no-padding">
              Rs. 180/-
              <ion-badge class="ion-margin-horizontal">4.2 (500+)</ion-badge>
            </ion-item>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content class="ion-no-padding">
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/images/mutton-thali.jpg" />
          </ion-thumbnail>
          <ion-label>
            <h1><b>Mutton Thali</b></h1>
            <p class="text">Mutton Masala, Tambada Rasaa, Pandhara Rasaa, Solkadhi, Plain Rice
            </p>
            <ion-item class="ion-no-padding">
              Rs. 175/-<ion-badge class="ion-margin-horizontal">4.4 (800+)</ion-badge>
            </ion-item>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-button expand="full">Go To Cart</ion-button>
  </ion-content>
</div>

