<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="splash-screen"></ion-back-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login">
    <ion-label><h1 class="heading1">Login</h1></ion-label>
    <form #userLogin="ngForm" (ngSubmit)="login(userLogin.value)">
      <ion-item>
        <ion-input class="form-input" type="email" placeholder="Email" name="email" ngModel></ion-input>
      </ion-item>
      <ion-item>
        <ion-input class="form-input" type="password" placeholder="Password" name="password" ngModel></ion-input>
      </ion-item>
      <button ion-button color="primary" class="login-button">Login</button>
      <a class="auth-toggle-link" routerLink="/signup">Don’t have an account? SignUp</a>
    </form>
  </div>
</ion-content>
