
<ion-content>
  <div id="container">
      <img src="../../assets/images/Mother-Dining.jpg" class="mothers-dining-image">
      <h1 class="heading1">Mother’s Dining</h1>
      <ion-item>
        <button ion-button class="thali-menu-button" (click)="goToThaliPage()">Go To Thali Menu</button>
      </ion-item>
      <ion-item>
        <button ion-button class="course-menu-button" (click)="goToCourseMealPage()">Go To Course Menu</button>
      </ion-item>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar class="footer-section">
    <ion-title>Mother’s Dining</ion-title>
  </ion-toolbar>
</ion-footer>
